.article-browser {
	width: 60rem;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 2rem;
}

.article-browser .loader,
.article-browser .error,
.article-browser main {
	flex-grow: 1;
}

.article-browser .error .icon {
	font-size: 6rem;
	margin: 0;
}

.article-browser main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.article-browser ul {
	margin: 0;
	padding: 0.5rem;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	overflow: auto;
	gap: 3rem;
}

.article-browser article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.article-browser article h2 {
	margin: 0;
}
.article-browser article p {
	margin-top: 0;
	font-size: 1.25rem;
}
.article-browser article img {
	width: 25%;
	float: left; /* Yikes! Welcome to the nineties */
	margin: 0.5rem 1rem 0.5rem 0;
	border: 0.125rem solid white;
}
.article-browser article.expanded img {
	width: 40%;
}
