.article-browser {
	width: 60rem;
	padding: 2rem;
}

.article-browser main {
	overflow: hidden;
	position: relative;
}

.article-browser ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}
.article-browser li {
	border-radius: 0.25rem;
	padding: 0.5rem 0.5rem 0;
}

.article-browser article {
	padding-bottom: 0.5rem;
}
.article-browser article h2 {
	margin: 0;
}
.article-browser article p {
	margin-top: 0;
	font-size: 1.25rem;
}
.article-browser article img {
	width: 25%;
	min-height: 6rem;
	float: left; /* Yikes! Welcome to the nineties */
	margin: 0.5rem 1rem 0.5rem 0;
	border: 0.125rem solid white;
}
.article-browser article.expanded img {
	width: 40%;
}
.article-browser form .error {
	margin: 0;
	font-size: 1.25rem;
	color: #ffc0c0;
}
.article-browser form .error.hidden {
	display: none;
}
.article-browser form .error::before {
	content: '!';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.5rem;
	border: 0.125rem solid #ffc0c0;
	border-radius: 50%;
	background-color: transparent;
	color: #ffc0c0;
	font-weight: bold;
	height: 1.75rem;
	aspect-ratio: 1;
}

@media (prefers-color-scheme: light) {
	.article-browser article img {
		border-color: #292929;
	}
	.article-browser form .error {
		color: #bb3030;
	}
	.article-browser form .error::before {
		border-color: #bb3030;
		color: #bb3030;
	}
}
