:root {
	background-color: #202020;
	color-scheme: light dark;
	color: white;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}

h1 {
	margin: 1.5rem 0;
	font-size: 3rem;
}
h2 {
	margin: 1.25rem 0;
	font-size: 2rem;
}

button {
	border-radius: 0.375rem;
	border: 0.125rem solid #008080;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-family: inherit;
	background-color: #008080;
	color: white;
	outline-offset: 0.125rem;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	background-color: #005050;
}
button:focus,
button:focus-visible {
	outline: 0.125rem solid white;
}

button.inline {
	border-width: 0;
	border-radius: 0.125rem;
	padding: 0 0 0.125rem;
	background-color: transparent;
	color: #00c0c0;
	font-size: 1.25rem;
	text-decoration: underline;
	outline-offset: 0.375rem;
}
button.inline:hover {
	color: #00e0e0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: black;
		background-color: #f3f3f3;
	}
	button {
		color: white;
	}
}
