.spinner {
	border-style: solid;
	border-color: white transparent;
	border-radius: 50%;
	aspect-ratio: 1;
	animation: rotate 1.8s infinite linear;
}

.spinner.standard {
	height: 8rem;
	border-width: 0.5rem;
}

.spinner.large {
	height: 16rem;
	border-width: 0.75rem;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (prefers-color-scheme: light) {
	.spinner {
		border-color: black transparent;
	}
}
