.spinner {
	border-style: solid;
	border-color: white transparent;
	border-radius: 50%;
	aspect-ratio: 1;
	animation: rotate 1.8s infinite linear;
}

.spinner.h2 {
	height: 1.5rem;
	border-width: 0.25rem;
}

.spinner.standard {
	height: 8rem;
	border-width: 0.5rem;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (prefers-color-scheme: light) {
	.spinner.standard {
		border-color: black transparent;
	}
}
